	.st0 {
	    fill: #343435;
	}

	.st1 {
	    fill: #8E8E8E;
	}

	.st2 {
	    fill: #1D1D1B;
	}

	.st3 {
	    fill: #FFFFFF;
	}

	.st4 {
	    fill: #009FE3;
	}

	.st5 {
	    fill: #E30613;
	}

	.st6 {
	    fill: #009640;
	}

	.st7 {
	    fill: #FFE000;
	}

	.st8 {
	    fill: #E6CAF9;
	}

	.st9 {
	    fill: #A0E8F9;
	}

	.st10 {
	    fill: #F9B9B9;
	}

	.st11 {
	    fill: #A0C4F9;
	}

	.pressed{
		fill:#E30613;
	}